@use '../../styles/fonts.scss' as *;

.header {
    position: fixed;
    width: 100%;
    padding: .75rem 0;
    border-top: 8px solid var(--darkblue);
    z-index: 10;
    transition: 
        padding 0.3s ease-in-out,
        background 0.3s ease-in-out,
        border-top 0.3s ease-in-out;

    &.scrolled {
        padding: .25rem 0;
        background: var(--sand);
        border-top: 0 solid transparent;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &Title {
        margin: 0;
    }

    &Logo {
        width: 230px;
        height: auto;
        display: block;

        @media screen and (min-width: 768px) {
            width: 250px;
        }
    }

    &Span {
        font-size: 0;
        display: none;
    }

    &Links {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &Rs {
        // width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &Item {
            padding: 0.375rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &X,
        &Ig,
        &Fb {
            width: auto;
            height: 22px;
            display: block;
        }

        &Yt {
            width: auto;
            height: 33px;
            display: block;
        }
    }

    &Menu {

        &Ul {
            list-style-type: none;
        }

        &Li {
            display: inline-block;

            &:last-child {
                .headerNavLink {
                    padding-right: .5rem;
                }
            }
        }

        &Link {
            @include qsand(700);
            font-size: 1.4rem;
            color: var(--darkblue);
            padding: .625rem;
            display: block;
            transition: background 0.3s ease-in-out;

            @media screen and (min-width: 768px) {
                padding: .625rem 1.25rem;
            }

            &:hover {
                background: var(--darkblue20);
            }
        }
    }
}