@use '../../styles/fonts.scss' as *;

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: .5rem 0;
    border-top: 4px solid var(--darkblue);
    z-index: 100;
    transition: 
        height 0.4s ease-in-out,
        padding 0.4s ease-in-out,
        background 0.4s ease-in-out,
        border-top 0.4s ease-in-out,
        -webkit-backdrop-filter 0.4s ease-in-out,
        backdrop-filter 0.4s ease-in-out;

    @media screen and (min-width:992px) {
        height: auto;
    }

    &.opened {
        height: 100vh;
        background: var(--black60);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);

        @media screen and (min-width:992px) {
            height: auto;
            background: transparent;
            -webkit-backdrop-filter: none;
            backdrop-filter: none;
        }
    }

    &.scrolled {
        background: var(--black40);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);

        &.opened {
            background: var(--black60);
        }

        @media screen and (min-width:992px) {
            &.opened {
                background: var(--black40);
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;

        @media screen and (min-width:768px) {
            padding: 0 var(--padding);
        }
    }

    &Title {
        margin: 0;
    }

    &Logo {
        width: 210px;
        height: auto;
        display: block;
        transition: width 0.3s ease-in-out;
        margin-top: -4px;

        &Text {
            transition: all 0.2s ease-in-out;
        }

        .scrolled & {
            width: 210px;
        }

        .black & {
            .headerLogoText {
                fill: var(--black);
            }
        }

        .black.opened & {
            .headerLogoText {
                fill: var(--white);
            }
        }

        .black.scrolled & {
            .headerLogoText {
                fill: var(--white);
            }
        }

        @media screen and (min-width: 992px) {
            .black.opened & {
                .headerLogoText {
                    fill: var(--black);
                }
            }

            .black.scrolled & {
                .headerLogoText {
                    fill: var(--white);
                }
            }
        }

        @media screen and (min-width: 768px) {
            width: 250px;
        }
    }

    &Span {
        font-size: 0;
        display: none;
    }

    &Burger {
        position: relative;
        height: 60px;
        width: 60px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media screen and (min-width:992px) {
            display: none;
        }

        &Icon1,
        &Icon2,
        &Icon3 {
            position: absolute;
            left: 25%;
            top: 50%;
            width: 28px;
            height: 3px;
            background-color: var(--white);
            transition: all 400ms cubic-bezier(.84,.06,.52,1.8);

            .black & {
                background-color: var(--black);
            }

            .black.scrolled & {
                background-color: var(--white);
            }

            .black.opened & {
                background-color: var(--white);
            }
        }

        &Icon1 {
            transform: translateY(-8px);
            animation-delay: 100ms;
        }

        &Icon3 {
            transform: translateY(8px);
            animation-delay: 250ms;
        }

        .opened & {
            .headerBurgerIcon1 {
                transform: rotate(40deg);
            }
        
            .headerBurgerIcon3 {
                transform: rotate(-40deg);
            }

            .headerBurgerIcon2 {
                opacity: 0;
            }
        }
    }

    &Links {
        position: relative;
        width: calc(100% + var(--padding));
        height: 0;
        top: 100%;
        right: 0;
        opacity: 0;
        overflow: hidden;
        transition: 
            height 0.3s ease-in-out,
            padding 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
        
        &::before {
            position: absolute;
            content: '';
            width: 30%;
            height: 1px;
            top: .75rem;
            left: 50%;
            transform: translateX(-50%);
            background: var(--white);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        @media screen and (min-width: 992px) {
            position: relative;
            width: auto;
            height: auto !important;
            top: auto;
            right: auto;
            background: transparent;
            -webkit-backdrop-filter: none;
            backdrop-filter: none;
            opacity: 1;
            padding: 0 !important;
            box-shadow: none;
            border-radius: 0;
            transition: none;

            &::before {
                content: none;
            }
        }
        
        .opened & {
            height: calc(100dvh - 77px);
            padding: 2rem 0;
            opacity: 1;

            &::before {
                opacity: 1;
            }
        }

        &Content {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;            
            width: 100%;

            @media screen and (min-width: 992px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                width: auto;
            }
        }
    }

    &Rs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-right: .5rem;
        gap: 0.5rem;

        &Item {
            position: relative;
            padding: 0.75rem 1rem;

            &::before {
                position: absolute;
                content: '';
                width: 34px;
                height: 34px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: var(--white50);
                border-radius: 100%;
                z-index: -1;
                transition: all 0.2s ease-in-out;
            }

            @media screen and (min-width: 992px) {
                padding: 0.375rem 0.625rem;
            }

            &:hover {
                &::before {
                    background: var(--white50);
                }
            }
        }

        &X{
            width: auto;
            height: 16px;
            display: block;
            transition: all 0.2s ease-in-out;
        }

        &Ig,
        &Fb {
            width: auto;
            height: 20px;
            display: block;
            transition: all 0.2s ease-in-out;
        }

        &Yt {
            width: auto;
            height: 26px;
            display: block;
            transition: all 0.2s ease-in-out;
        }

        .scrolled & {
            @media screen and (min-width: 992px) {
                gap: .375rem;

                .headerRsItem{
                    &::before {
                        width: 30px;
                        height: 30px;
                    }
                }

                .headerRsX {
                    height: 14px;
                }

                .headerRsIg,
                .headerRsFb {
                    height: 18px;
                }
                
                .headerRsYt {
                    height: 24px;
                }
            }
        }
    }

    &Menu {
        width: 100%;

        @media screen and (min-width: 992px) {
            width: auto;
        }

        &Ul {
            list-style-type: none;
        }

        &Li {
            display: block;
            
            @media screen and (min-width:992px) {
                display: inline-block;
            }
        }

        &Link {
            @include qsand(500);
            font-size: 1.125rem;
            color: var(--white);
            padding: .625rem;
            display: block;
            text-shadow: 0 0 1px 1px var(--black);
            transition: padding .2s ease-in-out;

            .black & {
                color: var(--white);
            }

            .scrolled.black & {
                color: var(--white);
            }

            @media screen and (min-width: 992px) {
                .black & {
                    color: var(--black);
                }

                .scrolled & {
                    padding: .375rem .625rem;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}