.bgimage {
    position: relative;
    height: 400px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        height: 600px;
    }

    &Img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        box-shadow: 0 0 30px 0 inset var(--black20);

        @supports (-webkit-touch-callout: none) {
            background-attachment: scroll;
        }
    }
}