.twocols {
    // position: relative;
    background: var(--white70);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        &>div {
            width: 100%;

            @media screen and (min-width: 768px) {
                width: calc(50% - 1rem);
            }
        }
    }
}