@use '../../styles/fonts.scss' as *;
@use '../../styles/mixins.scss' as *;

.event {
    position: relative;
    padding-bottom: 4rem;
    // background: var(--white);

    &Title {
        @include wysiwyg();

        &.white {
            h2 {
                color: var(--white);
                
                &::before,
                &::after {
                    background: var(--white);
                }
            }
        }
    }

    &Content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &Date {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 1rem;
        background-color: var(--black);
        box-shadow: 0 0 10px -3px var(--black40);

        @media screen and (min-width:992px) {
            width: 190px;
            padding: 1rem;
        }

        &Start,
        &End {
            @include qsand(700);
            font-size: 1.125rem;
            color: var(--white);
            text-align: center;
            transform-origin: center;

            @media screen and (min-width:768px) {
                font-size: 1.5rem;
            }
        }

        &End {
            border-bottom: 3px solid var(--white);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }

    &Place {
        @include qsand(700);
        font-size: 1rem;
        color: var(--white);
        text-align: center;

        @media screen and (min-width:768px) {
            font-size: 1.125rem;
        }
    }

    &Text {
        @include wysiwyg();
        width: 100%;
        border-radius: 0 0 24px 0;
        padding: 1.25rem 1.25rem 1.25rem 2.25rem;
        background: var(--white);
        border: 2px solid var(--black);
        box-shadow: 0 0 10px -3px var(--black60);

        @media screen and (min-width:992px) {
            width: calc(100% - 190px);
            padding: 1.5rem 1.5rem 1.5rem 2.5rem;
        }
    }

    &Name {
        @include museo(700);
        font-size: 1.25rem;
        line-height: 1.25;
        margin-bottom: 0.5rem;

        @media screen and (min-width:768px) {
            font-size: 1.5rem;
        }
    }

    &Desc {
        font-size: 1rem;
        margin-bottom: 1rem;
        
        @media screen and (min-width:768px) {
            font-size: 1.25rem;
        }
    }

    &Link {
        @include qsand(700);
        font-size: .875rem;
        color: var(--white);
        padding: .5rem 1.25rem;
        margin-top: 0.75rem;
        display: inline-block;
        border: 2px solid var(--darkblue);
        background: var(--darkblue);
        border-radius: 0 0 12px 0;
        transition: all .2s ease-in-out;

        &:hover {
            color: var(--darkblue);
            background: var(--white);
        }
    }
}