@use '../../styles/fonts.scss' as *;
@use '../../styles/mixins.scss' as *;

.event {
    position: relative;
    padding-bottom: 7rem;
    background: var(--white);
    
    .container {

    }

    &Title {
        @include wysiwyg();
    }

    &Content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width:768px) {
            width: 80%;
            margin: 0 auto 1.5rem auto;
        }

        @media screen and (min-width:992px) {
            width: 60%;
        }
    }

    &Date {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 140px;
        border: 2px solid var(--black);
        border-right: 1px solid var(--black);
        border-radius: 16px;
        padding: 1.25rem;
        background-color: var(--lightred);
        background-image: url('/paper.png');
        background-repeat: repeat;
        background-size: 200px;
        box-shadow: 0 0 10px -3px var(--black20);

        @media screen and (min-width:768px) {
            width: 190px;
            padding: 1.5rem;
        }

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: calc(100% - 24px);
            left: auto;
            right: -2px;
            top: 12px;
            border: 1px dashed var(--white);
        }

        &Start,
        &End {
            @include qsand(700);
            font-size: 1.125rem;
            color: white;
            text-align: center;
            transform-origin: center;

            @media screen and (min-width:768px) {
                font-size: 1.5rem;
            }
        }

        &End {
            border-bottom: 3px solid var(--white);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }

    &Place {
        @include qsand(700);
        font-size: 1rem;
        color: white;
        text-align: center;

        @media screen and (min-width:768px) {
            font-size: 1.125rem;
        }
    }

    &Text {
        @include wysiwyg();
        width: calc(100% - 140px);
        border: 2px solid var(--black);
        border-left: 1px solid var(--black);
        border-radius: 16px;
        padding: 1.25rem 1.25rem 1.25rem 2.25rem;
        background-color: var(--whtie);
        background-image: url('/paper.png');
        background-repeat: repeat;
        background-size: 200px;
        box-shadow: 0 0 10px -3px var(--black20);

        @media screen and (min-width:768px) {
            width: calc(100% - 190px);
            padding: 1.5rem 1.5rem 1.5rem 2.5rem;
        }
    }

    &Name {
        @include museo(700);
        font-size: 1.5rem;
        line-height: 1.25;
        margin-bottom: 0.75rem;

        @media screen and (min-width:768px) {
            font-size: 1.75rem;
        }
    }

    &Desc {
        font-size: 1rem;
        margin-bottom: 1rem;
        
        @media screen and (min-width:768px) {
            font-size: 1.5rem;
        }
    }

    &Link {
        @include qsand(700);
        color: var(--white);
        padding: .5rem 1.25rem;
        margin-top: 0.75rem;
        display: inline-block;
        border: 2px solid var(--darkblue);
        background: var(--darkblue);
        border-radius: 0 0 12px 0;
        transition: all .2s ease-in-out;

        &:hover {
            color: var(--darkblue);
            background: var(--white);
        }
    }
}