@use '../../styles/mixins.scss' as *;

.paragraph{

    .container {
        padding: 1rem var(--padding) 3rem ;
    }

    &Inner {
        @include wysiwyg();
        text-align: center;

        @media screen and (min-width: 768px) {
            width: 70%;
            margin: 0 auto;
        }

        @media screen and (min-width: 992px) {
            width: 60%;
        }

        p {
            color: var(--white);
        }
    }
}