@use '../../styles/mixins.scss' as *;

.paragraph {

    &.scale {
        // transition: transform 0.1s ease-out;
        transform-origin: center center;
        will-change: transform;
    }

    &.paddingt {
        padding-top: 3rem;
    }
    
    .container {
        padding: 1rem var(--padding) 3rem ;
    }

    &Inner {
        @include wysiwyg();
        text-align: center;

        @media screen and (min-width: 768px) {
            width: 70%;
            margin: 0 auto;
        }

        @media screen and (min-width: 992px) {
            width: 60%;
        }

        p {
            .white & {
                color: var(--white);
            }

            .scale & {
                font-weight: bold;
                line-height: 1.5;
            }
        }
    }
}