@use '../../styles/fonts.scss' as *;
@use '../../styles/mixins.scss' as *;

.ouverture {
    position: relative;
    padding-bottom: 4rem;
    background: var(--white);
    align-self: flex-start;

    @media screen and (min-width: 640px) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2rem;
        padding-bottom: 0;
    }

    &Inner {
        margin-bottom: 4rem;
        text-align: center;

        @media screen and (min-width: 640px) {
            width: calc(50% - 1rem);
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            width: 100%;
            margin-bottom: 0;
        }

        .ouvertureContent {
            background: var(--sky);
        }
        
        &:last-child {
            margin-bottom: 0;

            .ouvertureContent {
                background: var(--sand);
            }
        }
    }

    &Title {
        @include wysiwyg();
        text-align: left;
    }

    &Content {
        position: relative;
        width: 290px;
        padding: 1.5rem;
        margin: 0 auto;
        z-index: 0;

        @media screen and (min-width: 992px) {
            width: 400px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url('/paper.png');
            background-size: 140px;
            z-index: -1;
            opacity: 0.4;
        }
    }

    &Solo {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
    }

    &Key {
        @include museo(700);
        font-size: 1.25rem;
        width: 50%;
        text-align: left;
    }

    &Value {
        @include qsand(500);
        font-size: 1.125rem;
        width: 50%;
        text-align: left;
    }
}