@use '../../styles/fonts.scss' as *;

.slidercards {

    .container {
        padding-top: 0;
    }
    
    &Slider {
        width: calc(100% + (50dvw - 50%) - (var(--padding)/2));

        @media screen and (min-width: 768px) {
            width: calc(100% + (50dvw - 50%) - (var(--padding)/2) + 4px);
        }
    }

    &Slide {
        background: var(--white);
        border-radius: 0 0 24px 0;
    }

    &Imgcontainer {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    &Img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    &Content {
        padding: 1rem;
    }

    &Title {
        @include museo(700);
        font-size: 1.25rem;
    }

    &Category {
        @include qsand();
        font-style: italic;
    }

    &Date {

    }

    &Nav {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        padding: 2rem 0 1rem 0;

        [disabled] {
            opacity: 0.4;
            pointer-events: none;
        }

        &Prev,
        &Next {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 1px solid var(--white);
            background: var(--white);
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                background: transparent;

                .slidercardsNavArrow {
                    path {
                        stroke: var(--white);
                    }
                }
            }
        }

        &Arrow {
            width: 36px;
            height: auto;
            display: block;

            path {
                stroke: var(--black);
                transition: 0.3s ease-in-out;
            }
        }
    }

 
}