.waves {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    pointer-events: none;

    path {
        fill: var(--white);
        position: relative;
        transform: translateY(1px);
    }

    &.blue {
        path {
            fill: var(--bluesea);
        }
    }

    &.brown {
        path {
            fill: var(--brown);
        }
    }

    &.green {
        path {
            fill: var(--darkgreen);
        }
    }

    &.white70 {
        path {
            fill: var(--white70);
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
        }
    }

    &.black {
        path {
            fill: var(--almostblack);
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
        }
    }
}