@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    height: 100vh;
    height: 100dvh;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: var(--black60);
    }

    &Bg {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
    }

    &Title {
        @include wysiwyg();

        h2 {
            color: var(--white);

            &::before,
            &::after {
                background: var(--white);
            }
        }
    }
}