@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    height: 100vh;
    height: 100dvh;

    &.blue {
        &::before {
            background: var(--darkblue);
            opacity: 0.6;
        }
    }

    &.brown {
        &::before {
            background: var(--darkbrown);
            opacity: 0.6;
        }
    }

    &.green {
        &::before {
            background: var(--darkgreen);
            opacity: 0.6;
        }
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
    }

    &Bg {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
    }

    &Title {
        @include wysiwyg();

        h2 {
            color: var(--white);

            &::before,
            &::after {
                background: var(--white);
            }
        }
    }
}