@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    background: var(--sand);

    &.blue {
        background: var(--darkblue);

        .bgcontentWaves {
            path {
                fill: var(--darkblue);
            }
        }
    }

    &.brown {
        background: var(--darkbrown);

        .bgcontentWaves {
            path {
                fill: var(--darkbrown);
            }
        }
    }

    &.green {
        background: var(--darkgreen);

        .bgcontentWaves {
            path {
                fill: var(--darkgreen);
            }
        }
    }

    &Waves {
        position: absolute;
        width: 100%;
        height: 150px;
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }

    // .container {
    //     padding-bottom: 0;
    // }

    &Title {
        @include wysiwyg();

        h2 {
            // color: var(--white);

            .blue &,
            .brown & {
                color: var(--white);

                &::before,
                &::after {
                    background: var(--white);
                }
            }
        }
    }
}