@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    background: var(--sky);

    &.blue {
        background: var(--bluesea);

        .bgcontentWaves {
            path {
                fill: var(--bluesea);
            }
        }
    }

    &.brown {
        background: var(--darkbrown);

        .bgcontentWaves {
            path {
                fill: var(--darkbrown);
            }
        }
    }

    &.green {
        background: var(--darkgreen);

        .bgcontentWaves {
            path {
                fill: var(--darkgreen);
            }
        }
    }

    &.paper {
        background: var(--paper);
        background-image: url('/paper.png');
        background-repeat: repeat;
        background-size: 256px;
    }

    &Waves {
        position: absolute;
        width: 100%;
        height: 150px;
        top: 1px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        pointer-events: none;
    }

    &.padding {
        padding-bottom: 5rem;

        @media screen and (min-width: 768px) {
            padding-bottom: 4rem;
        }
    }

    .container {
        padding: 3rem var(--padding) 5rem;
    }

    &Title {
        @include wysiwyg();

        h2 {
            .blue &,
            .brown & {
                color: var(--white);

                &::before,
                &::after {
                    background: var(--white);
                }
            }
        }
    }
}