@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    background: var(--sky);

    &.blue {
        background: var(--bluesea);

        .bgcontentWaves {
            path {
                fill: var(--bluesea);
            }
        }
    }

    &.brown {
        background: var(--brown);

        .bgcontentWaves {
            path {
                fill: var(--brown);
            }
        }
    }

    &.green {
        background: var(--darkgreen);

        .bgcontentWaves {
            path {
                fill: var(--darkgreen);
            }
        }
    }

    &.paper {
        position: relative;
        z-index: 0;
        background: var(--white);

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url('/paper.png');
            background-repeat: repeat;
            background-size: 256px;
            z-index: -1;
            opacity: 0.7;
        }
    }

    &Waves {
        position: absolute;
        width: 100%;
        height: 150px;
        top: 1px;
        left: 0;
        transform: translateY(-100%);
        pointer-events: none;
    }

    &.padding {
        padding-bottom: 5rem;

        @media screen and (min-width: 768px) {
            padding-bottom: 4rem;
        }
    }

    .container {
        padding: 3rem var(--padding) 5rem;

        &.onlyTitle {
            padding-bottom: 0;
        }
    }

    &Title {
        @include wysiwyg();

        h2 {
            .blue &,
            .brown & {
                color: var(--white);

                &::before,
                &::after {
                    background: var(--white);
                }
            }
        }
    }
}