@use '../../styles/mixins.scss' as *;

.bgcontent {
    position: relative;
    background: var(--white);

    &.blue {
        background: var(--bluesea);
    }

    &.brown {
        background: var(--brown);
    }

    &.green {
        background: var(--darkgreen);
    }

    &.white50 {
        background: var(--white50);
    }

    &.black {
        background: var(--almostblack);
    }

    &.paper {
        position: relative;
        z-index: 0;
        background: var(--sand);

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url('/paper.png');
            background-repeat: repeat;
            background-size: 256px;
            z-index: -1;
            opacity: 0.7;
        }
    }

    &.padding {
        padding-bottom: 5rem;

        @media screen and (min-width: 768px) {
            padding-bottom: 4rem;
        }
    }

    .container {
        padding: 3rem var(--padding) 5rem;

        &.onlyTitle {
            padding-bottom: 0;
        }
    }
}