.container {
    max-width: var(--maxwidth);
    padding: 3rem var(--padding);
    margin: 0 auto;

    @media screen and (min-width:768px) {
        padding: 4rem var(--padding);
    }

    &.nopadding {
        padding-top: 0;
        padding-bottom: 0;
    }
}