.bgvideo {
    position: relative;
    height: 0;
    position: relative;
    padding-bottom: 100svh;
    overflow: hidden;
    pointer-events: none;

    &Iframe {
        position: absolute;
        top: 0;
        left: 50%;
        width: auto;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        box-shadow: 0 0 30px 0 inset var(--black20);
        transform: translateX(-50%);

        @supports (-webkit-touch-callout: none) {
            background-attachment: scroll;
        }
    }
}