.bgvideo {
    position: relative;
    height: 0;
    padding-bottom: 600px;
    overflow: hidden;
    pointer-events: none;

    &Iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        // background-size: cover;
        // background-position: center;
        // background-attachment: fixed;
        // transform: translateX(-50%);

        @supports (-webkit-touch-callout: none) {
            background-attachment: scroll;
        }
    }
}