@use '../../styles/fonts.scss' as *;

.intro {
    position: relative;
    height: 100vh;
    height: 100dvh;

    .container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        padding-bottom: 12rem;
        transform: translateX(-50%);
        z-index: 1;

        @media screen and (min-width: 992px) {
            padding: 8rem var(--padding) 9rem;
        }
    }

    &Title {
        @include museo(500);
        font-size: 4rem;
        color: var(--white);
        letter-spacing: 3px;
        display: block;
        margin: 9rem auto 0 auto;
        text-align: center;
        max-width: 100%;

        text {
            fill: var(--white);
        }

        @media screen and (min-width:768px) {
            font-size: 4rem;
            margin: 5rem auto 2.25rem auto;
        }
    }

    &Subtitle {
        @include qsand(400);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.25;
        color: var(--white);
        display: block;
        text-align: center;
    }

    &Span {
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        font-size: 1.125rem;
        letter-spacing: 1px;
        margin-bottom: .25rem;
        display: inline-block;
    }

    &Museum {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        bottom: 0;

        @media screen and (min-width: 992px) {
            width: 100%;
            height: auto;
            max-height: 53dvh;
        }

        &Img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
        }

        &Author {
            bottom: 82px;
        }
    }

    &News {
        position: sticky;
        height: 0;
        top: 540px;
        padding: 0 var(--padding);
        max-width: var(--max-width);
        text-align: center;
        transform: translateY(-140px);

        @media screen and (min-width:768px) {
            top: 640px;
        }

        &Content {
            border-radius: 14px;

            @media screen and (min-width:992px) {
                display: inline-block;
                background: var(--white);
            }
        }

        &Date {
            @include museo(700);
            position: absolute;
            color: var(--white);
            letter-spacing: 1px;
            top: -42px;
            left: 50%;
            transform: translateX(-50%);
            padding: .5rem 1.25rem;
            border-radius: 12px;
            background: var(--darkblue);
            display: inline-block;
            z-index: 1;

            @media screen and (min-width:992px) {
                position: initial;
                top: auto;
                left: auto;
                transform: none;
            }
        }

        &Text {
            @include qsand(700);
            padding: 1.375rem 1.25rem 1rem 1.25rem;
            margin-top: -16px;
            border-radius: 12px;
            background: var(--white);
            display: inline-block;

            @media screen and (min-width:992px) {
                padding: .5rem 1.25rem;
                background: var(--white);
            }
        }
    }

    &Waves {
        position: absolute;
        width: 100%;
        height: 140px;
        bottom: 0;
    }
}

.bgvideo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

    &Iframe {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;

        @supports (-webkit-touch-callout: none) {
            background-attachment: scroll;
        }
    }
}