@use '../../styles/fonts.scss' as *;

.intro {
    background: var(--sand);

    @media screen and (min-width:768px) {
        min-height: 100vh;
        min-height: 100dvh;
    }

    &Title {
        @include museo(500);
        font-size: 2.25rem;
        color: var(--darkblue);
        display: block;
        margin: 10rem auto 1rem auto;
        text-align: center;

        text {
            fill: var(--darkblue);
        }

        @media screen and (min-width:768px) {
            font-size: 4rem;
            margin: 7rem auto 2rem auto;
        }
    }

    &Subtitle {
        @include qsand(400);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.25;
        color: var(--darkblue);
        display: block;
        text-align: center;
    }

    &Span {
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
    }
}