@use '../../styles/fonts.scss' as *;

.intro {
    position: relative;
    background: var(--sand);
    min-height: 100vh;
    min-height: 100dvh;

    .container {
        padding-bottom: 4rem;
    }

    &Title {
        @include museo(500);
        font-size: 2.25rem;
        color: var(--darkblue);
        letter-spacing: 3px;
        display: block;
        margin: 10rem auto 1rem auto;
        text-align: center;

        text {
            fill: var(--darkblue);
        }

        @media screen and (min-width:768px) {
            font-size: 4rem;
            margin: 5rem auto .75rem auto;
        }
    }

    &Subtitle {
        @include qsand(400);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.25;
        color: var(--darkblue);
        display: block;
        text-align: center;
    }

    &Span {
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: .25rem;
        display: inline-block;
    }

    &Museum {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;

        @media screen and (min-width: 992px) {
            width: 100%;
            height: auto;
        }

        &Img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &News {
        position: sticky;
        height: 0;
        bottom: 0;
        padding: 0 var(--padding);
        max-width: var(--max-width);
        text-align: center;
        transform: translateY(-100px);

        @media screen and (min-width:992px) {
            transform: translateY(-100px);
        }

        &Content {
            border-radius: 14px;

            @media screen and (min-width:992px) {
                display: inline-block;
                background: var(--white);
            }
        }

        &Date {
            @include museo(700);
            position: absolute;
            color: var(--white);
            letter-spacing: 1px;
            top: -42px;
            left: 50%;
            transform: translateX(-50%);
            padding: .5rem 1.25rem;
            border-radius: 12px;
            background: var(--darkblue);
            display: inline-block;
            z-index: 1;

            @media screen and (min-width:992px) {
                position: initial;
                top: auto;
                left: auto;
                transform: none;
            }
        }

        &Text {
            @include qsand(700);
            padding: 1.375rem 1.25rem 1rem 1.25rem;
            margin-top: -16px;
            border-radius: 12px;
            background: var(--white);
            display: inline-block;

            @media screen and (min-width:992px) {
                padding: .5rem 1.25rem;
                background: var(--white);
            }
        }
    }
}