@use '../../styles/fonts.scss' as *;

.slidergallery {
    padding-bottom: 1.5rem;

    &Slider {
        overflow-x: initial;
    }

    &Slide {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 12px 2px rgba(245, 243, 225, 0.5) inset;
        background: var(--white);
        padding: 1rem 1rem 0 1rem;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url('/paper.png');
            background-repeat: repeat;
            background-size: 256px;
            z-index: -1;
            opacity: 0.6;
        }

        &:hover {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 0 12px 2px rgba(245, 243, 225, 0.5) inset;
        }

        // &.dragging {
        //     box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5), 0 0 12px 2px rgba(245, 243, 225, 0.5) inset;
        //     z-index: 50;
        // }
    }

    &Visuel {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 0 24px 0px rgba(0,0,0,.5) inset;
        }
    }

    &Img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 2px;
        user-select: none;
        pointer-events: none;
        display: block;
    }

    &Text {
        color: var(--black);
        height: 68px;
        text-align: center;
        padding: 1rem 0;
        border-radius: 0.25rem;

        &.fontOne {
            @include caveat();
            font-size: 1.5rem;
        }

        &.fontTwo {
            @include edu();
            font-size: 1.25rem;
        }
    }
}