@use '../../styles/fonts.scss' as *;

.slidergallery {
    &Slide {
        padding: 0.5rem;
        width: 220px;

        &:hover {
            .slidergallerySlideContent {
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.10), 0 0 12px 2px rgba(245, 243, 225, 0.5) inset;
            }
        }

        &Content {
            position: relative;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 12px 2px rgba(245, 243, 225, 0.5) inset;
            background: var(--white);
            padding: 1rem 1rem 0 1rem;
            z-index: 0;
            transition: box-shadow 0.2s ease-in-out;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url('/paper.png');
                background-repeat: repeat;
                background-size: 256px;
                z-index: -1;
                opacity: 0.3;
            }
        }
    }

    &Visuel {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 0 24px 0px rgba(0,0,0,.5) inset;
        }
    }

    &Img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: auto;
        display: block;
        border-radius: 2px;
        user-select: none;
        pointer-events: none;
        display: block;
    }

    &Text {
        color: var(--black);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 0.75rem 0 1rem 0;
        border-radius: 0.25rem;

        &.fontOne {
            @include caveat();
            font-size: 1.375rem;
            line-height: 1;
        }

        &.fontTwo {
            @include edu();
            font-size: 1rem;
            line-height: 1;
        }

        &.fontThree {
            @include playwrite();
            font-size: 0.875rem;
            line-height: 1.5;
        }

        &Inner {
            text-align: center;
        }
    }
}