@use 'variables' as *;
@use 'fonts' as *;
@use 'mixins' as *;

html,
body {
  max-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  &.padding {
    padding-top: 7rem;
  }

  &.sand {
    background-color: var(--sand);
  }
}

.author {
  @include qsand();
  font-size: .625rem;
  position: absolute;
  color: var(--white);
  bottom: 8px;
  left: 8px;
  text-shadow: 0px 1px 3px var(--black);

  &.right {
    left: auto;
    right: 8px;
  }
}

.slidergallerySlider {
  .swiper-wrapper {
    transition-timing-function : linear;
  }
}