@mixin wysiwyg() {
    h1 {

    }

    h2 {

    }

    h3 {

    }

    h4 {

    }

    p {

    }

    a {

    }

    ul,
    ol {
        li {

        }
    }

    ul {
        li {

        }
    }

    ol {
        li {

        }
    }

    blockquote {
        
    }
}