:root {
  --background: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black20: rgba(0, 0, 0, .2);
  --black60: rgba(0, 0, 0, .6);
  --text: rgba(0, 0, 0, 1);
  --brown: rgba(112, 69, 20, 1);
  --darkblue: rgba(17, 46, 91, 1);
  --darkblue20: rgba(17, 46, 91, 0.2);
  --sand: rgb(242, 237, 224);

  --padding: 1rem;
  --maxwidth: 1440px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {

  }
}