:root {
  --background: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --white10: rgba(255, 255,255, 0.1);
  --white20: rgba(255, 255,255, 0.2);
  --white30: rgba(255, 255,255, 0.3);
  --white50: rgba(255, 255,255, 0.5);
  --white70: rgba(255, 255,255, 0.7);
  --white80: rgba(255, 255,255, 0.8);
  --black: rgba(0,0,0,1);
  --almostblack: rgba(20, 20, 20, 1);
  --black20: rgba(0, 0, 0, .2);
  --black40: rgba(0, 0, 0, .4);
  --black60: rgba(0, 0, 0, .6);
  --black80: rgba(0, 0, 0, .8);
  --text: rgba(0, 0, 0, 1);
  --grey: rgba(60, 60, 60, 1);

  --sky: rgb(181, 225, 238);
  --sky60: rgba(181, 225, 238, 0.6);
  --bluesea: rgb(0, 105, 148);
  --bluesea20: rgba(0, 105, 148, .2);
  --bluesea40: rgba(0, 105, 148, .4);
  --bluesea70: rgba(0, 105, 148, .7);
  --darkblue: rgba(0, 75, 118, 1);
  --darkblue30: rgba(12, 36, 61, 0.3);
  --darkgreen: rgb(28, 76, 28, 1);
  --darkbrown: rgb(117, 84, 47);
  --brown: rgb(176, 142, 110);
  --sand: rgb(242, 236, 223);
  --sand60: rgba(232, 227, 214, 0.6);
  --paper: rgb(245, 244, 237);
  --lightred: rgb(197, 0, 0);
  --yellow: rgb(244, 232, 159);

  --padding: 3.5rem;
  --maxwidth: 1440px;

  @media screen and (min-width:768px) {
    --padding: 2.5rem;
  }

  @media (prefers-color-scheme: dark) {

  }
}