:root {
  --background: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black20: rgba(0, 0, 0, .2);
  --black60: rgba(0, 0, 0, .6);
  --text: rgba(0, 0, 0, 1);
  --darkgreen: rgb(28, 76, 28, 1);
  --darkbrown: rgba(112, 69, 20, 1);
  --darkblue: rgba(12, 36, 61, 1);
  --darkblue20: rgba(12, 36, 61, 0.2);
  --sand: rgba(232, 227, 214, 1);

  --padding: 1rem;
  --maxwidth: 1440px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {

  }
}