:root {
  --background: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --white30: rgba(255, 255,255, 0.3);
  --black: rgba(0, 0, 0, 1);
  --black20: rgba(0, 0, 0, .2);
  --black60: rgba(0, 0, 0, .6);
  --text: rgba(0, 0, 0, 1);

  --sky: rgb(213, 229, 234);
  --sky60: rgba(213, 229, 234, 0.6);
  --bluesea: rgba(75, 120, 156, 1);
  --darkblue: rgba(12, 36, 61, 1);
  --darkblue30: rgba(12, 36, 61, 0.3);
  --darkgreen: rgb(28, 76, 28, 1);
  --darkbrown: rgb(67, 41, 11);
  --sand: rgb(255, 254, 247);
  --sand60: rgba(232, 227, 214, 0.6);
  --paper: rgb(234, 231, 213);

  --padding: 1rem;
  --maxwidth: 1440px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {

  }
}