.masonry {
    .container {
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    &Content {
        display: grid;
        align-items: start;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @media (min-width: 640px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
            gap: 2rem;
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &Item {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px 1px var(--black60);

        &Img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}